body{
    margin: 0;
}
#title{
    background-color: #ff4c68;
    color: white;
}
h3{
    font-family: "Montserrat-Bold";
}
.container-fluid{
    padding: 3% 15%;
}
.heading{
    font-family: Montserrat-Black;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* Navbar */
.navbar{
    padding-bottom: 4.5rem;
}
/* Navigation Bar Brand*/
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
/* Navbar item */
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
}
/* Downloadad Button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}
/* features */
#features{
    padding: 5rem 0;
}
.features-icon{
    padding-top: 2.5rem;
    font-size: 4rem;
    color: #ff4c68;
}
.features-icon:hover{
    color: #FFAFAF;
}
.F-Box{
    padding: 0 25%;
}

/* Testimonials */
#testimonials{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}
/* testimonial-image */
.testimonial-image{
    margin: 5%;
    width: 30%;
    border-radius: 100%;
}
/* testimonial-heading */
.testimonial-text{
    font-family: "Monsterrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
/* Press */
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 5%;
}
/* press-logo */
.press-logo{
    width: 15%;
    margin: 0 3%;
}
/* Carousel */
.carousel-item{
    padding: 7% 15%;
}

/* Pricing */
#pricing{
    padding: 7%;
    text-align: center;
}
/* pricing-text-header */
.pricing-text-header{
    font-family: "Montserrat-Bold";
    font-size: 4rem;
}
.pricing-text{
    padding-bottom: 2rem;
    color: #9A9483;
}

/* call to action */
#cta{
    background-color: #ff4c68;   
    color: white;
    text-align: center;
    padding: 3% 0 0 0;
}
/* cta-text-header */
.cta-text-header{
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    padding:0 20% ;
}
/* Footer */
#footer{
    background-color: #ff4c68;
    color: white;
    margin-bottom: 0;
}
.footer-text{
    margin: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
}